 /* Especifidad 11*/
 body {
    padding-left: 11em;
    padding-right: 11em;
    font: 400 1em Tahoma, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: rgb(233, 205, 173);
 }

  /* Especifidad 1*/
h1  {
    background-color:#e4842a;
    color: #fff;
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;
 }

 /* Especifidad 11*/
 a.Titulo:link {color: #fff;}
 a.Titulo:visited {color: #fff}

  /* Especifidad 1*/
 h2 {
    
    color: #0070DF
 }

 /* Especifidad 1*/
p  {
   color: #818181;
   margin-top: 1em;
  padding-top: 1em;
}

 /* Especifidad 11*/
ul { list-style: disc inside;
    text-align: left;
    margin-top: 1.25em;
    margin-bottom: 2.5em;
    margin-right: 2.5em;}

footer >p   {
  
  
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
  text-align: right;
}

div{
  border: 10px solid #000000;
  background: #5DEAA8;
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

td, th {
     border: 1px solid #000000;
     padding: 8px;
}

/*especificidad -> 2*/
table td{
    text-align: center;
}


iframe   {
   
   width: 560px;
   height: 315px;
   border: 0px;
}

/*especificidad -> 12*/
 a.info:visited   {color: blue;}
 a.sin:visited    {color: blue;}
 a.rep:visited    {color: blue;}
 a.bso:visited    {color: blue;}

 /*especificidad -> 100*/
#caratula{
    display: block;
    margin: auto;
}

/*especificidad -> 100*/
#img_1   {
   display: block;
   margin: auto;
}

/*especifidad -> 100*/
#img_3   {
   display: block;
   margin: auto;
}



